body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main {
  flex: 1;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}

.site-container {
  min-height: 100vh;
}

.rating span {
  color: #ffc000;
}

.text-black {
  color: #000000;
  font-weight:600;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}


.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

.card{
  border-radius:8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.253);
}

.card-botton-space {
  height: 8rem;
}

 .card-img-top {
  width: 100%;
  height: 20rem;
 }

.btn-card:hover{
 
  background-color: rgb(202, 200, 204) !important;
}
.font-quatrocentos{
  font-family: 'Quattrocento Sans', sans-serif;
} 

.nav-items a{
  color: rgb(230, 223, 223) !important;
}

a{
  text-decoration: none !important;
  color: #0c0c0c !important;
}


.nav-link span{
  border-radius: 50% !important;
  background-color: #ee5316 !important;
  margin-left: 2px;
  padding: 0.2rem 0.4rem;
}


.btn{
  color: white !important;
}